@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    margin: 0;
}

.game {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    height: 200px;
    width: 100%;
}

.player {
    padding-left: 20px;
    margin-bottom: 25px;
}

p {
    margin: 0;
    font-family: "Titillium Web", sans-serif;
}

.nickname {
    margin: 0;
}

.hand {
    display: flex;
    gap: 5px;
}

.cards {
    height: 60px;
    width: 50px;
    background-color: #9f978c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards p {
    font-size: 23px;
}