body {
    font-family: sans-serif;
}

p a {
    text-decoration: none;
    padding: 5px;
    font-style: italic;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 60%;
}

sup {
    font-style: normal;
}

.title {
    display: flex;
}

h2 {
    padding-right: 17px;
    margin-bottom: 0;
}