@media screen and (min-width: 540px) and  (max-width: 1280px){
section{
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    padding:48px 3px;
    align-items: center;
}
    img{
        width: 160px;
        height: 160px;
    }
    div{
        gap: 10px;
        display: flex;
        flex-direction: column;
        width: 45%;
    }
}