*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'header header header header header'
    'b1 b2 b3 b4 b5'
    'footer footer footer footer footer'
;
}
header{
    grid-area: header;
}
section{
    grid-area: section;
}
address{
    grid-area: address;
}
footer{
    grid-area: footer;
}
.b1{
    grid-area: b1;
    background-color: lightgray;
}
.b2{
    grid-area: b2;
}
.b3{
    grid-area: b3;
    background-color: lightgray;
}
.b4{
    grid-area: b4;
}
.b5{
    grid-area: b5;
    background-color: lightgray;
}
header,section,address,footer,.b1,.b2,.b3,.b4,.b5{
    border: 1px solid darkblue;
}