@media screen and (min-width: 0) and (max-width: 565px) {

    main {
        height: 100vh;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
    'header header header'
    'section section section'
    'nav nav nav'
    'aside aside aside'
    ;
    }
}