@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
header{
    padding: 20px 100px;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.35);
}
section{
    display: flex;
    justify-content: space-between;
}
.logo img{
    height: 50px;
    width: 50px;
}
.logo{
    height: 50px;
    align-items: center;
    text-align: center;
    gap: 10px;
    display: flex;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
}
nav button{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    border: none;
    padding: 20px;
    text-align: center;
}
nav ul li a img{
    width: 13px;
    height: 13px;
    rotate: 90deg;
}
header ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
header form{
    background-color: white;
}
header form{
    display: flex;
    padding: 4px;
    width: 630px;
    border-radius: 8px;

}
header form button{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid #b6b5b5;
    font-weight: 500;
    font-size: 13px;
}
header form button img{
    width: 15px;
}
header form input{
    border: none;
    padding: 5px;
    height: 50px;
    width: 600px;
}
.searchIco{
    width: 30px;
    height: 30px;
}
header form input:focus{
    padding: 0 10px;
    outline: none;
}
.search{
    background-color: white;
    border: none;
}
.searchBlock h3{
    width: 630px;
    font-size: 25px;
    color: white;
}
.searchBlock{
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
video{
    height: 65vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
}